IN DEVELOPMENT

In [1]:
# import wget
from urllib.request import urlretrieve
import os
import tarfile
import glob
import pandas as pd
import numpy as np

In [2]:
# urls and data paths

# data_dir=r'C://Users/kerrie/Documents/02_LocalData/tutorials/GHCNm/' # where to store data
data_dir=r'K://projects/rgmg/climate/training/data/GHCNm/' # where to store data

data_url='https://www.ncei.noaa.gov/pub/data/ghcn/v4/ghcnm.tavg.latest.qcf.tar.gz'  # url of data file
fn_data=data_url.split('/')[-1]  # filename

meta_url='https://www.ncei.noaa.gov/pub/data/ghcn/v4/readme.txt'  # url of metadata file
fn_meta=meta_url.split('/')[-1]  # filename

# create data_dir if it doesn't already exist
isExist = os.path.exists(data_dir)
if not isExist:
   os.mkdir(data_dir)
   print("data_dir created")

## Download and unpack data

In [ ]:
# download files
# expect 10s to a few minutes to complete, depending on your network

urlretrieve(meta_url,data_dir+fn_meta)
urlretrieve(data_url,data_dir+fn_data)

In [ ]:
# unzip/untar the data file
# expect a few seconds to a few minutes to complete, depending on your network

with tarfile.open(data_dir+fn_data) as f:
    f.extractall(path=data_dir)

## Load data into a dataframe

Open the readme.txt file that you've downloaded to see a description of how the data are arranged in the .dat and .inv data files.

The readme tells us that the station information is given in the .inv file where each line of the file is 68 characters long and contains the
station ID, lat, lon, elevation, and station name.

The readme also tells us that the .dat file contains the monthly data values for each station. A single line of the .dat file is 115 characters 
long and contains the data for a single station (station ID, year, element, 
Jan data value, Jan data flag1, Jan data flag2, Jan data flag3, Feb data value, Feb data flag1, ... , Dec data flag3).  

This format of this data as a conituous string on each line of the file means we will have to parse these strings so that we can work with the 
data as numerical values. You can imagine that it may be useful to parse these strings into large tables where each row is a station and each 
column is a different field (stationID, year, data value, etc). The most useful python package to use for this is called Pandas. Pandas will 
allow us to organize and easily query and manipulate tabular data in a data structure called a dataframe.

In [3]:
# get the filenames of the unpacked data files
datfile=glob.glob(data_dir+'*/*.dat')[0]
invfile=glob.glob(data_dir+'*/*.inv')[0]

datfile,invfile

('K://projects/rgmg/climate/training/data/GHCNm\\ghcnm.v4.0.1.20231111\\ghcnm.tavg.v4.0.1.20231111.qcf.dat',
 'K://projects/rgmg/climate/training/data/GHCNm\\ghcnm.v4.0.1.20231111\\ghcnm.tavg.v4.0.1.20231111.qcf.inv')

In [4]:
# We need to parse our text strings into a dataframe
# There are no column names in the data file so we need to manually type them here

# Also, usually text file data has a separator like a space or comma between different data items which allows for easier file reading.
# In this case there is no separator so we have to manually type where each data item begins and ends using the indexes in the readme file.

# make a list of all the column names (from readme)
colnames = ['ID','YEAR','ELEMENT',
            'VALUE1','DMFLAG1','QCFLAG1','DSFLAG1',
            'VALUE2','DMFLAG2','QCFLAG2','DSFLAG2',
            'VALUE3','DMFLAG3','QCFLAG3','DSFLAG3',
            'VALUE4','DMFLAG4','QCFLAG4','DSFLAG4',
            'VALUE5','DMFLAG5','QCFLAG5','DSFLAG5',
            'VALUE6','DMFLAG6','QCFLAG6','DSFLAG6',
            'VALUE7','DMFLAG7','QCFLAG7','DSFLAG7',
            'VALUE8','DMFLAG8','QCFLAG8','DSFLAG8',
            'VALUE9','DMFLAG9','QCFLAG9','DSFLAG9',
            'VALUE10','DMFLAG10','QCFLAG10','DSFLAG10',
            'VALUE11','DMFLAG11','QCFLAG11','DSFLAG11',
            'VALUE12','DMFLAG12','QCFLAG12','DSFLAG12']

# column indexes of the start and end of each data item (from readme)
# note the readme gives column numbers starting at 1, 
# but python indexing is zero-based and is exclusive of the end index
splitcol=[0,11,15,19,24,25,26,27,32,33,34,35,40,41,42,43,48,49,50,51,56,57,58,59,64,65,66,67,72,73,74,75,80,81,82,83,88,89,90,91,96,97,98,99,104,105,106,107,112,113,114,115]

# with open(datfile) as f:
#     data=f.read()
# data

# First we'll create an empty dataframe with all the appropriate columns (get the column names from the readme file)


# do an example of read one line to 51 col df
# do an example of read one line to 1 col of df then split



    # print(data)
    # exit


    # for line in f:
    #     data=[line[splitcol[i]:splitcol[i+1]] for i in range(len(splitcol)-1)]
    #     df = pd.concat([df,pd.DataFrame([data],columns=colnames)],ignore_index=True)




    # parse the string into the different data items (indexes from readme)
    # data=[line[0:11],int(line[11:15]),line[15:19],
    #     int(line[19:24]),line[24:25],line[25:26],line[26:27],
    #     int(line[27:32]),line[32:33],line[33:34],line[34:35],
    #     int(line[35:40]),line[40:41],line[41:42],line[42:43],
    #     int(line[43:48]),line[48:49],line[49:50],line[50:51],
    #     int(line[51:56]),line[56:57],line[57:58],line[58:59],
    #     int(line[59:64]),line[64:65],line[65:66],line[66:67],
    #     int(line[67:72]),line[72:73],line[73:74],line[74:75],
    #     int(line[75:80]),line[80:81],line[81:82],line[82:83],
    #     int(line[83:88]),line[88:89],line[89:90],line[90:91],
    #     int(line[91:96]),line[96:97],line[97:98],line[98:99],
    #     int(line[99:104]),line[104:105],line[105:106],line[106:107],
    #     int(line[107:112]),line[112:113],line[113:114],line[114:115]]
    # df=pd.DataFrame(data,columns=['line'])

# df

In [5]:
# this is advanced
with open(datfile) as f:
    # data is a generator object, which is like a lazy iterator
    # we're describing how to split each line of the file up, but not doing it yet
    # the generator object holds these instructions for later and doesn't use up memory
    data=( [line[splitcol[i]:splitcol[i+1]] for i in range(len(splitcol)-1)] for line in f ) # generator object

    # pandas can create a dataframe from a generator, which performs much faster and uses less memory 
    # than other techniques for converting the .dat file to a dataframe (such as append/concat line by line)
    df=pd.DataFrame(data,columns=colnames)
df

,ID,YEAR,ELEMENT,VALUE1,DMFLAG1,QCFLAG1,DSFLAG1,VALUE2,DMFLAG2,QCFLAG2,...,QCFLAG10,DSFLAG10,VALUE11,DMFLAG11,QCFLAG11,DSFLAG11,VALUE12,DMFLAG12,QCFLAG12,DSFLAG12
0,ACW00011604,1961,TAVG,-95,,,k,230,,,...,,k,504,,,k,-45,,,k
1,ACW00011604,1962,TAVG,107,,,k,79,,,...,,k,317,,,k,-132,,,k
2,ACW00011604,1963,TAVG,-719,,,k,-559,,,...,,k,560,,,k,-114,,,k
3,ACW00011604,1964,TAVG,56,,,k,-91,,,...,,k,540,,,k,106,,,k
4,ACW00011604,1965,TAVG,38,,,k,-111,,,...,,k,25,,,k,-184,,,k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453561,ZIXLT622116,1966,TAVG,2180,,,"""",2040,,,...,,"""",2090,,,"""",2110,,,""""
1453562,ZIXLT622116,1967,TAVG,2110,,,"""",1990,,,...,,"""",1990,,,"""",1910,,,""""
1453563,ZIXLT622116,1968,TAVG,2180,,,"""",2000,,,...,,"""",1840,,,"""",2070,,,""""
1453564,ZIXLT622116,1969,TAVG,2090,,,"""",2150,,,...,,"""",2040,,,"""",1910,,,""""
1453565,ZIXLT622116,1970,TAVG,2070,,,"""",1990,,,...,,"""",2130,,,"""",2150,,,""""

In [6]:
# we did not specify data types when we read the data into the dataframe so all columns in the dataframe have data type object or 'O'
# let's change the data type of some columns

print('original data types')
print(df['YEAR'].dtype)
print(df['VALUE2'].dtype)

for cname in colnames:
    if cname == 'YEAR':
        df[cname]=df[cname].astype('int32')
    if 'VALUE' in cname:
        df[cname]=df[cname].astype('float32')

print('ammended data types')
print(df['YEAR'].dtype)
print(df['VALUE2'].dtype)

object
object
int32
float32

In [7]:
# we know the missing data value is -9999
# let's replace that value with NaN

df=df.replace(-9999,np.nan)

## Manipulate, query, and subset the dataframe

let's start by creating some new columns based off the ID column which contains the following information:

digits 1-2: FIPS country code
digits 3: station network code
digits 4-11: station ID

How do we know this is what the ID means? These details are not included in the GHCNm v4 readme or elsewhere under https://www.ncei.noaa.gov/pub/data/ghcn/v4/. Unfortunately, missing metadata is an all-too-often occurrence in data science. 

In this case, I found the missing information by clicking through some of the metadata files for similar GHCN products and found instructions for how to de-code the ID field in the readme.txt for the daily data product at https://www.ncei.noaa.gov/pub/data/ghcn/daily/readme.txt (section IV. FORMAT OF "ghcnd-stations.txt")

In [8]:
# creating new data columns
df['COUNTRY']=df['ID'].str[0:2]
df['NETWORK_ID']=df['ID'].str[2:3]
df['STATION_ID']=df['ID'].str[3:]
# df

In [22]:
# subset the dataframe to only stations in the United States
# here we save the results as a new dataframe
USdf = df[df['COUNTRY']=='US'].copy()
# USdf

In [24]:
# subset the dataframe to include only data years with no missing values

# first create a new column to hold the number of missing values per row
USdf['nan_count']= USdf.isnull().sum(axis=1)
USdf

,ID,YEAR,ELEMENT,VALUE1,DMFLAG1,QCFLAG1,DSFLAG1,VALUE2,DMFLAG2,QCFLAG2,...,QCFLAG11,DSFLAG11,VALUE12,DMFLAG12,QCFLAG12,DSFLAG12,COUNTRY,NETWORK_ID,STATION_ID,nan_count
745009,USC00010063,2001,TAVG,NaN,,,,NaN,,,...,,0,840.0,,,0,US,C,00010063,3
745010,USC00010063,2002,TAVG,555.0,,,0,613.0,,,...,,0,470.0,,,0,US,C,00010063,2
745011,USC00010063,2003,TAVG,81.0,,,0,585.0,,,...,,0,NaN,,,,US,C,00010063,3
745012,USC00010063,2004,TAVG,408.0,,,0,522.0,,,...,,0,NaN,,,,US,C,00010063,2
745013,USC00010063,2005,TAVG,755.0,,,0,825.0,,,...,,0,362.0,,,0,US,C,00010063,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438248,USW00094996,2019,TAVG,-393.0,,,R,-751.0,,,...,,R,40.0,,,R,US,W,00094996,1
1438249,USW00094996,2020,TAVG,-306.0,,,R,-40.0,,,...,,R,-51.0,,,R,US,W,00094996,0
1438250,USW00094996,2021,TAVG,-114.0,,,R,-914.0,,,...,,R,236.0,,,R,US,W,00094996,0
1438251,USW00094996,2022,TAVG,-370.0,,,R,-168.0,,,...,,R,-355.0,,,R,US,W,00094996,0
1438252,USW00094996,2023,TAVG,-228.0,,,R,-22.0,,,...,,,NaN,,,,US,W,00094996,2

In [26]:
# subset for only rows with no missing data
USdf=USdf[USdf['nan_count']==0]
USdf.shape

(436583, 55)

In [31]:
# subset for data years after 1900
USdf=USdf[USdf['YEAR']>=1900]
USdf.shape

(425525, 55)

In [32]:
# find stations that have 50 consecutive data years or more

#  first count data years for each station
data_years=USdf['ID'].value_counts()
data_years

ID
USW00014914    122
USW00003952    122
USW00093817    122
USW00014936    121
USW00024022    121
              ...
USC00513977      1
USC00513455      1
USC00027884      1
USC00244730      1
USC00156107      1
Name: count, Length: 12704, dtype: int64

In [33]:
# now subset to only stations with more than 50 data years (we're not worried about consecutive years yet)
# stations is a pandas series where the ID column is now the index (row identifier)
stations=data_years[data_years>50]
stations

ID
USW00014914    122
USW00003952    122
USW00093817    122
USW00014936    121
USW00024022    121
              ...
USC00162367     51
USW00093739     51
USC00327027     51
USW00024151     51
USW00024101     51
Name: count, Length: 2865, dtype: int64

In [34]:
# to get just the ID names we can use the .index method 
stations.index

Index(['USW00014914', 'USW00003952', 'USW00093817', 'USW00014936',
       'USW00024022', 'USW00024213', 'USW00024021', 'USW00094728',
       'USW00013984', 'USW00013957',
       ...
       'USC00202737', 'USC00417947', 'USC00242604', 'USC00245337',
       'USC00047253', 'USC00162367', 'USW00093739', 'USC00327027',
       'USW00024151', 'USW00024101'],
      dtype='object', name='ID', length=2865)

In [43]:
# further subset the US stations, selecting only the stations with more than 50 data years
US_long_stations=USdf[USdf['ID'].isin(stations.index)]
US_long_stations

,ID,YEAR,ELEMENT,VALUE1,DMFLAG1,QCFLAG1,DSFLAG1,VALUE2,DMFLAG2,QCFLAG2,...,QCFLAG11,DSFLAG11,VALUE12,DMFLAG12,QCFLAG12,DSFLAG12,COUNTRY,NETWORK_ID,STATION_ID,nan_count
745588,USC00010422,1907,TAVG,1245.0,,,6,1015.0,,,...,,6,835.0,,,6,US,C,00010422,0
745589,USC00010422,1908,TAVG,716.0,,,6,696.0,,,...,,6,1024.0,,,6,US,C,00010422,0
745590,USC00010422,1909,TAVG,1021.0,,,6,1043.0,,,...,,6,453.0,,,6,US,C,00010422,0
745591,USC00010422,1910,TAVG,765.0,,,6,831.0,,,...,,6,527.0,,,6,US,C,00010422,0
745592,USC00010422,1911,TAVG,998.0,,,6,1227.0,,,...,,6,1017.0,,,6,US,C,00010422,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437878,USW00094967,2018,TAVG,-1307.0,,,W,-1514.0,,,...,,W,-757.0,,,W,US,W,00094967,0
1437879,USW00094967,2019,TAVG,-1644.0,,,W,-1580.0,,,...,,W,-1040.0,,,W,US,W,00094967,0
1437880,USW00094967,2020,TAVG,-1150.0,,,W,-1162.0,,,...,,W,-736.0,,,W,US,W,00094967,0
1437881,USW00094967,2021,TAVG,-818.0,,,W,-1599.0,,,...,,W,-1004.0,,,W,US,W,00094967,0
1437882,USW00094967,2022,TAVG,-1733.0,,,W,-1664.0,,,...,,W,-1193.0,,,W,US,W,00094967,0

In [57]:
# Now find which of these stations has 50+ consecutive years
import sys

US_long_consec=[]
for id in stations.index[1:2]:
    sub_station=US_long_stations[US_long_stations['ID']==id].reset_index(drop=True)
    year_start=sub_station['YEAR'].iloc[0]
    year_end=sub_station['YEAR'].iloc[-1]
    print(id)
    print(sub_station.shape,sub_station['YEAR'].iloc[0],sub_station['YEAR'].iloc[-1])
    
    # if all data years are present, add station name to the list
    if (year_end-year_start+1 == sub_station.shape[0]):
        flag=True
        US_long_consec.append(sub_station['ID'].loc[0])

    # if all data years are not present, 
    # loop through them to see if there's a long enough consecutive period
    if flag:
        pass
    else:
        missing_years=[]
        year_count=0
        for y in range(year_start,year_end+1):
            if y in sub_station.YEAR.unique():
                year_count=year_count+1
            else:
                missing_years.append(y)
        print(missing_years)
        print(len(missing_years))
        if missing_years:
            for y in missing_years:
                nyears1=y-year_start
                nyears2
                ### THIS IS WHERE YOU LEFT OFF #####


    flag=False
    print(US_long_consec)

USW00003952
(122, 55) 1900 2022
[1963]
1
[]

In [ ]:
USdf[USdf['ID']=='USW00094701']